.landing-text {
  margin-top: 32px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;

  letter-spacing: 0em;
  text-align: left;
}

.button {
  display: flex;
  align-items: center;
  width: 190px;
  height: 50px;
  margin-top: 70px;
}

.background {
  height: 100%;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: contain;
}

.landing-content {
  padding-left: 102px;
  padding-top: 54px;
}
